:root{
    --fclr:#111;
    --search:rgb(228, 227, 227);
    --icon:rgb(152, 151, 151);
    --card_width:15em;
    --card_border_radius:1em;
    --row_increment:1em;
    --card_s:4;
    --card_m:8;
    --card_l:9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content:space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 0.3em 0.5em 0.5em 0.5em;
    box-shadow: 5px -3px 4px 0px;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
}
.home, .today{
    display: flex;
    align-items: center;
    padding: 0.3em 1em;
    border-radius: 2em;
}
.pinlogo, .bell, .chat{
    display: flex;
    align-items: center;
    padding: 0.3em;
    border-radius: 2em;
}
.profile{
    display: flex;
    align-items: center;
    padding: 0.3em;
    border-radius: 2em;
    border: solid var(--search);
}
.search{
    display: flex;
    align-items: center;
    border: solid;
    border-width: thin;
    border: none;
    background-color: var(--search);
    border-radius: 10em;
    padding: 0em 0.5em;
    width: 70%;
    gap: 0.5em;
}
.prof{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}
.prof i, .bell i, .chat i{
    font-size: 1.5em;
    color:var(--icon);
    padding: 0.3em 0.3em;
    border-radius: 2em;
}
.search input[type=text]{
    border: none;
    outline: none;
    background-color: var(--search);
    font-size: 0.9em;
}
.pinlogo img, .profile img{
    width: 1.5em;
    height: 1.5em;
}
.home:hover, .today:hover{
    background-color: var(--search);
}
.pinlogo img:hover{
    width: 2em;
    height: 2em;
}
.prof i:hover, .profile:hover, .bell:hover, .chat:hover{
    background-color: var(--search);
    padding: 0.3em;
}
/* Grid setting */
.main_body{
    display: block;
    margin: 0.2em;
    margin-top: 5em;
}
.grid_gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    grid-row-gap: 2em;
    grid-column-gap: 0.8em;
}
.grid_gallery img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: var(--card_border_radius);
}
.grid_gallery p{
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 1em;
}
.card_small{
    grid-row-end: span var(--card_s);
    position: relative;
}
.card_medium{
    grid-row-end: span var(--card_m);
    position: relative;
}
.card_large{
    grid-row-end: span var(--card_l);
    position: relative;
}
/* Hovering grid settings */
.hov{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    border-radius: 1em;
}
.hov .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 2em;
}
.hov .leftop{
    display: flex;
    margin-top: 1em;
    gap: 1em;
    align-items: center;
    color: #fff;
}
.hov .rightop{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 2em;
    margin-top: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
}
/* botright related to large card */
.hov .botright{
    position: relative;
    top: 17em;
    left: 7.5em;
    display: flex;
    align-items: center;
    gap: 0.8em;
}
.hov .botright i{
    border-radius: 50%;
    background-color: #fff;
    padding: 1em;
}
/* botright2 related to medium card */
.hov .botright2{
    position: relative;
    top: 14em;
    left: 7.5em;
    display: flex;
    align-items: center;
    gap: 0.8em;
}
.hov .botright2 i{
    border-radius: 50%;
    background-color: #fff;
    padding: 1em;
}
/* botright3 is related to small card */
.hov .botright3{
    position: relative;
    top: 2em;
    left: 7.5em;
    display: flex;
    align-items: center;
    gap: 0.8em;
}
.hov .botright3 i{
    border-radius: 50%;
    background-color: #fff;
    padding: 1em;
}
/* hover overlay effect on the cards */
.card_large:hover .hov, .card_medium:hover .hov, .card_small:hover .hov{
    opacity: 0.9;
}

/* floating buttons styling */
.icon_btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 1000;
}
.icon_btn i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1em;
    height: 1em;
    padding: 1em;
    border-radius: 50%;
    box-shadow: 1px 2px 2px 0px #44424266;
    opacity: 0.8;
    font-size: 2em;
    background-color: #fff;
}
.icon_btn i:hover{
    background-color: var(--search);
}




