:root{
    --fclr:#111;
    --search:rgb(228, 227, 227);
    --icon:rgb(152, 151, 151);
    --card_width:15em;
    --card_border_radius:1em;
    --row_increment:1em;
    --card_s:4;
    --card_m:8;
    --card_l:9; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    margin: 0;
}
nav{
    display: flex;
    justify-content:space-around;
    align-content: center;
    flex-wrap: wrap;
    padding: 0.3em 0.5em 0.5em 0.5em;
    box-shadow: 5px -5px 10px 0px;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
}
.home, .today{
    display: flex;
    align-items: center;
    padding: 0.3em 1em;
    border-radius: 2em;
}
.pinlogo, .bell, .chat{
    display: flex;
    align-items: center;
    padding: 0.3em;
    border-radius: 2em;
}
.profile{
    display: flex;
    align-items: center;
    padding: 0.3em;
    border-radius: 2em;
    border: solid var(--search);
}
.search{
    display: flex;
    align-items: center;
    border: solid;
    border-width: thin;
    border: none;
    background-color: var(--search);
    border-radius: 10em;
    padding: 0em 0.5em;
    width: 70%;
    gap: 0.5em;
}
.prof{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}
.prof i, .bell i, .chat i{
    font-size: 1.5em;
    color:var(--icon);
    padding: 0.3em 0.3em;
    border-radius: 2em;
}
.search input[type=text]{
    border: none;
    outline: none;
    background-color: var(--search);
    font-size: 0.9em;
}
.pinlogo img, .profile img{
    width: 1.5em;
    height: 1.5em;
}
.home:hover, .today:hover{
    background-color: var(--search);
}
.pinlogo img:hover{
    width: 2em;
    height: 2em;
}
.prof i:hover, .profile:hover, .bell:hover, .chat:hover{
    background-color: var(--search);
    padding: 0.3em;
}

/* Grid setting */
.main_body{
    display: block;
    margin: 0.2em;
    margin-top: 6em;
}
.grid_gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    grid-row-gap: 2em;
    grid-column-gap: 0.8em;
}
.grid_gallery img{
    width: 100%;
    height: 100%;
    object-fit:fill;
    border-radius: var(--card_border_radius);
}
.grid_gallery p{
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 1em;
}
.card_small{
    grid-row-end: span var(--card_s);
}
.card_medium{
    grid-row-end: span var(--card_m);
}
.card_large{
    grid-row-end: span var(--card_l);
}





